body{
	font-family: "Avenir Next";
	font-weight: bold;
	padding: 0px 1px 0px 3px;
	margin: 0px;
}
li a{
	text-decoration: none;
	color: white;
}
li{
	list-style: none;
}
.header{
	background-color: #26d0c9;
	color: #fff;
	height:170px;
	font-family: 'Lora', serif;
}
.header-logo{
	float: left;
	font-size: 36px;
	padding: 20px 40px;
	margin: 30px 0 0 40px;
}
.header-list li{
	float: left;
	padding: 33px 20px;
	margin: 30px 0 0 20px;
}
.header-img{
	float: right;
	height: 170px;
	width: 250px;
	margin-right: -40px;
}
.header-img img{
	display: block;
	max-height: 100%;
	max-width: 100%;
}
.login-signup a{
	float: right;
	margin: 10px;
	text-decoration: none;
	font-size: 20px;
	font-style:serif;
	color: white;
	padding: 25px 20px;
	margin: 30px 0 0 45px;
}
.login-signup .Sign-up{
	background-color: #DDA0DD;
	margin-right: 40px;
}
.login-signup .Log-in{
	text-decoration: underline;
	margin-right: -10px;
}
.login-signup .Sign-up:hover , .login-signup .Log-in:hover{
	box-shadow: 2px 2px 2px 2px black;
}
.login-signup .Sign-up:active{
	background-color: #FF00FF;
}
.main1 {
	background: url('../images/jumbotron-new.png') center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.6;
	height: 600px;
	margin: 0 auto;
	/*margin-top: -30px;*/
}
.copy-container h2{
	font-size: 40px;
	margin: 0px 0px 10px 10px;
	opacity: 1.0 !important;
	padding:10px 0 0 10px;
	/*vertical-align: center;*/
}
.How-we-work-image{	
	float: right;
	margin-top: 20px;
	margin-right: 60px;
	margin-left: 40px;
}
.About-us-image{
	float: left;
	margin-top: 20px;
	margin-right: 60px;
	margin-left: 40px;
}
.How-we-work-image img , .About-us-image img{
	display: block;
	max-width: 100%;
	max-height: 100%;
	object-fit: fill;
}
.How-we-work-text , .About-us-text{
	margin : 15px;
	margin-top: 90px;
}
.Span-tag{
	/*position: relative;
	left: 30%;*/
	text-align: center;
}
.How-we-work-text p , .About-us-text p{
	font-size: 25px;
	font-family: 'Lora', serif;
	margin-top: 30px;
}
.Contact-form{
	padding-top: 70px;
	margin: 15px;
}
.side-image{
	width: 500px;
	height: 500px;
	float: right;
	margin-top: 50px;
	margin-right: 80px;
}
.side-image img{
	display: block;
	max-width: 100%;
	max-height: 100%;
	object-fit: fill;
}
input,textarea{
	width: 400px;
	margin-bottom: 30px;
	margin-top: 10px;
	padding:20px;
	font-size: 18px;
	border: 1px solid #dee7ec;
}
#contact-submit{
	color: #26d0c9;
	background-color: #899eab;/*#dee7ec;*/
	margin-top: 40px;
}
#contact-submit:hover{
	cursor: pointer;
	background-color: #dee7ec;
}
.footer{
	background-color: #2f5167;
	height: 150px;
	padding: 40px;
	color: #fff;
	font-family: 'Lora', serif;
	text-align: center;
}
.footer-logo{
	font-size: 32px;
	float: left;
	margin-left: 40px;
	margin-top: 30px;
}
.quotes{
	float: left;
	font-style: italic;
	margin-top: 30px;
	font-size: 20px;
	margin-left: 300px;
}
.footer-list{
	float: right;
}
.footer-list li{
	padding-bottom: 30px;
}
/*.footer .quotes{
	display: flex;
	justify-content: center;  Even though if we add this there is no change in the footer
	align-items: center;
}*/
input , textarea{
	border: 1px solid #DDDDDD;
}
input:focus , textarea:focus{
	outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
	/*box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);*/
}